* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

 header {
  background-color: #008000;
  color: #FFFFFF;
  text-align: center;
  padding: 1em;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  width: 100%;
  align-items: center;
  grid-template-areas:
  "logo-container"
  "title-container"
  "menu";
} 
.title-container {
  text-align: center;
}

 fin, de las efectos css para el menu tipo hamburguesa */

.titulo_header{
font-size: 30px;
color: #f3f2f2;
text-align: center;
}
.subtitulo{
  font-size: 15px;
  color: #f8f8f8;
  text-align: center;
  } 

  .logo-container {
    float: left;

  }
  
  .logo {
    width: 120px; /* Ajusta el ancho del logo según tus necesidades */
    height: auto;
    display: block;
    margin-right: 0; /* Ajusta el margen derecho según tus necesidades */
  }

  /*menu inicio*/
.select-menu {
  appearance: none; /* Elimina los estilos predeterminados del sistema operativo */
  -webkit-appearance: none; /* Para navegadores basados en WebKit, como Chrome y Safari */
  -moz-appearance: none; /* Para navegadores basados en Gecko, como Firefox */
  padding: 8px 16px; /* Ajusta el espaciado interno del menú */
  border: 1px solid #ccc; /* Añade un borde alrededor del menú */
  background-color: #fff; /* Establece el color de fondo del menú */
  color: #333; /* Establece el color del texto del menú */
  font-size: 14px; /* Ajusta el tamaño de fuente del menú */
  font-family: Arial, sans-serif; /* Establece la fuente del menú */
  cursor: pointer; /* Cambia el cursor al pasar sobre el menú */
}

/* Estilos adicionales cuando se pasa el mouse sobre el menú */
.select-menu:hover {
  background-color: #f5f5f5; /* Cambia el color de fondo al pasar el mouse */
}

/* Estilos adicionales cuando el menú está desplegado */
.select-menu:focus {
  outline: none; /* Elimina el contorno predeterminado al hacer clic en el menú */
  border-color: #999; /* Cambia el color del borde al hacer clic en el menú */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra al menú desplegado */
  overflow-y: auto; /* Agrega desplazamiento vertical cuando se despliegan las opciones */
  max-height: 200px;
}
h1 {
  margin: 0;
  font-size: 2em;
}

.main_index {
  max-width: 600px;
  margin: 0 auto;
  padding: 60px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  background-image: url('../img/fnd.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.9; 
}
main h2{
  background-color: #008000;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

form {
  background-color: #fbf6f6;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

label {
  font-size: 18px;
  margin-bottom: 1px;
  padding-bottom: 0;
}

input[type="number"] {
  font-size: 1.2em;
  padding-top: 5px;
  padding-bottom: 10px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
}

input[type="submit"] {
  font-size: 1.2em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  background-color: #008000;
  color: #FFFFFF;
  cursor: pointer;
}

#resultado {
  margin-top: 1em;
  font-size: 1.2em;
  text-align: center;
  color: #ae321f;
}

/* Estilos responsivos */

@media screen and (max-width: 1080px) {
  main {
    padding: 25px;
  }

  .select-menu:focus{
    overflow-y: auto; /* Agrega desplazamiento vertical cuando se despliegan las opciones */
    max-height: 200px;
  }
}

@media screen and (max-width: 768px) {
  main {
    padding: 25px;
  }
  .select-menu:focus{
    overflow-y: auto; /* Agrega desplazamiento vertical cuando se despliegan las opciones */
    max-height: 200px;
  }
}


@media screen and (max-width: 480px) {
  main {
    padding: 20px;
  }
 
  .titulo_header{
    font-size: 15px;
  }
  .subtitulo{
    font-size: 12px;
  }
  .logo{
    width: 60px;
  }
  .menu{
    width: 60px;
  }

  form {
    padding: 5px;
  }

  input[type="submit"] {
    font-size: 1em;
  }
}
/* 
@media (min-width: 768px) {
  header {
    grid-template-columns: 15% 70% 15%;
    grid-template-areas: "logo-container title-container menu";
  }
}
@media (min-width: 1024) {
  header {
    grid-template-columns: 15% 70% 15%;
    grid-template-areas: "logo-container title-container menu";
  }

} */